<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>24</integer>
				<key>Position</key>
				<integer>2</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>28</integer>
				<key>Position</key>
				<integer>4</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>31</integer>
				<key>Position</key>
				<integer>6</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>28</integer>
				<key>Position</key>
				<integer>4</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>31</integer>
				<key>Position</key>
				<integer>6</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>31</integer>
				<key>Position</key>
				<integer>6</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>40</integer>
				<key>Position</key>
				<integer>11</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>40</integer>
				<key>Position</key>
				<integer>11</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>43</integer>
				<key>Position</key>
				<integer>13</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>40</integer>
				<key>Position</key>
				<integer>11</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>43</integer>
				<key>Position</key>
				<integer>13</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>48</integer>
				<key>Position</key>
				<integer>16</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>43</integer>
				<key>Position</key>
				<integer>13</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>48</integer>
				<key>Position</key>
				<integer>16</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>52</integer>
				<key>Position</key>
				<integer>18</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>2</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>48</integer>
				<key>Position</key>
				<integer>16</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>52</integer>
				<key>Position</key>
				<integer>18</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>55</integer>
				<key>Position</key>
				<integer>20</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>2</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>52</integer>
				<key>Position</key>
				<integer>18</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>55</integer>
				<key>Position</key>
				<integer>20</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>60</integer>
				<key>Position</key>
				<integer>23</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>2</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>55</integer>
				<key>Position</key>
				<integer>20</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>60</integer>
				<key>Position</key>
				<integer>23</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>64</integer>
				<key>Position</key>
				<integer>25</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>3</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>60</integer>
				<key>Position</key>
				<integer>23</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>64</integer>
				<key>Position</key>
				<integer>25</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>3</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>64</integer>
				<key>Position</key>
				<integer>25</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>72</integer>
				<key>Position</key>
				<integer>30</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>0</integer>
		<key>Variation</key>
		<integer>3</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>72</integer>
				<key>Position</key>
				<integer>30</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>76</integer>
				<key>Position</key>
				<integer>32</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>60</integer>
				<key>Position</key>
				<integer>23</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>64</integer>
				<key>Position</key>
				<integer>25</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>64</integer>
				<key>Position</key>
				<integer>25</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>72</integer>
				<key>Position</key>
				<integer>30</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>72</integer>
				<key>Position</key>
				<integer>30</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>76</integer>
				<key>Position</key>
				<integer>32</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>72</integer>
				<key>Position</key>
				<integer>30</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>76</integer>
				<key>Position</key>
				<integer>32</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>79</integer>
				<key>Position</key>
				<integer>34</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>76</integer>
				<key>Position</key>
				<integer>32</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>79</integer>
				<key>Position</key>
				<integer>34</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>84</integer>
				<key>Position</key>
				<integer>37</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>79</integer>
				<key>Position</key>
				<integer>34</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>84</integer>
				<key>Position</key>
				<integer>37</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>88</integer>
				<key>Position</key>
				<integer>39</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>2</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>84</integer>
				<key>Position</key>
				<integer>37</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>88</integer>
				<key>Position</key>
				<integer>39</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>91</integer>
				<key>Position</key>
				<integer>41</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>2</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>88</integer>
				<key>Position</key>
				<integer>39</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>91</integer>
				<key>Position</key>
				<integer>41</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>96</integer>
				<key>Position</key>
				<integer>44</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>2</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>91</integer>
				<key>Position</key>
				<integer>41</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>96</integer>
				<key>Position</key>
				<integer>44</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>100</integer>
				<key>Position</key>
				<integer>46</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>3</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>96</integer>
				<key>Position</key>
				<integer>44</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>100</integer>
				<key>Position</key>
				<integer>46</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>103</integer>
				<key>Position</key>
				<integer>48</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>1</integer>
		<key>Variation</key>
		<integer>3</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>100</integer>
				<key>Position</key>
				<integer>46</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>103</integer>
				<key>Position</key>
				<integer>48</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>108</integer>
				<key>Position</key>
				<integer>51</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>2</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>24</integer>
				<key>Position</key>
				<integer>2</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>60</integer>
				<key>Position</key>
				<integer>23</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>64</integer>
				<key>Position</key>
				<integer>25</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>2</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>24</integer>
				<key>Position</key>
				<integer>2</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>64</integer>
				<key>Position</key>
				<integer>25</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>72</integer>
				<key>Position</key>
				<integer>30</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>2</integer>
		<key>Variation</key>
		<integer>0</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>24</integer>
				<key>Position</key>
				<integer>2</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>67</integer>
				<key>Position</key>
				<integer>27</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>72</integer>
				<key>Position</key>
				<integer>30</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>76</integer>
				<key>Position</key>
				<integer>32</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>2</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>0</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>48</integer>
				<key>Position</key>
				<integer>16</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>72</integer>
				<key>Position</key>
				<integer>30</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>76</integer>
				<key>Position</key>
				<integer>32</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>79</integer>
				<key>Position</key>
				<integer>34</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>2</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>1</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>48</integer>
				<key>Position</key>
				<integer>16</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>76</integer>
				<key>Position</key>
				<integer>32</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>79</integer>
				<key>Position</key>
				<integer>34</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>83</integer>
				<key>Position</key>
				<integer>36</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cmaj</string>
		<key>Staff</key>
		<integer>2</integer>
		<key>Variation</key>
		<integer>1</integer>
		<key>Inversion</key>
		<integer>2</integer>
		<key>Notes</key>
		<array>
			<dict>
				<key>Note</key>
				<integer>36</integer>
				<key>Position</key>
				<integer>9</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>48</integer>
				<key>Position</key>
				<integer>16</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>79</integer>
				<key>Position</key>
				<integer>34</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>83</integer>
				<key>Position</key>
				<integer>36</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Note</key>
				<integer>86</integer>
				<key>Position</key>
				<integer>38</integer>
				<key>Symbol</key>
				<integer>0</integer>
				<key>Staff</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
